html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #1d1e22;
    color: white;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: darkslategray;
    padding: 0 20px 20px 20px;
}

.navbar {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    display: flex;
}

h1 {
    font-size: 40px;
    text-align: center;
}

#Sobre {
    color: red;
}

h2 {
    font-size: 30px;
    text-align: center;
}

p,
li {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1px;
}

/*
Are ya yellow?!: #feda6a
Silver Fox: #d4d4dc
Deep Matte Grey: #393f4d
Dark Slate: #1d1e22
*/
