/* Global */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #1d1e22;
}

section {
  background-color: #1d1e22;
}

h2 {
  font-size: 30px;
}

p {
  line-height: 1.8;
  letter-spacing: 1.4px;
}

/*-------------------- hero-container --------------------*/

.hero-container {
  min-height: 100vh;
  background-color: #1d1e22;
  display: flex;
  flex-direction: column;
}

/*-------------------- navbar --------------------*/
.navbar {
  background-color: #27292f;
}

.nav-list ul {
  display: flex;
  justify-content:end;
  list-style: none;
  gap: 1rem;
}

.nav-list li {
  display: flex;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 1.2rem 1rem;
}

.nav-link:hover {
  color: #feda6a;
}

/*-------------------- home --------------------*/

.home {
  background-color: #1d1e22;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}

/*--------- home-text --------- */

.home-text {
  display: flex;
  flex-direction: column;
}

.home-name h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
}

.home-sub h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #feda6a;
}

.home-tagline p {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

/*--------- home-icons --------- */

.home-icons {
  display: flex;
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  gap: 20px;
}

.home-icons i {
  color: white;
}

.home-icons i:hover {
  color: #feda6a;
}

/*--------- home-img --------- */

.home-image img {
  max-width: 400px;
  border-radius: 50%;
  border: 10px solid #feda6a;
}

/*-------------------- about --------------------*/

.about {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: #27292f;
  border-radius: 10px;
}

.about h2 {
  color: #feda6a;
}

/* .about p {
  font-weight: 400;
} */

/*-------------------- technologies --------------------*/

.technologies {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}

.technologies h2 {
  color: #feda6a;
}

.technologies p {
  color: white;
}

/*---------- tags ----------*/

/*---- tags-global ----*/

.stack {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.stack-title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.stack-tags {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 10px;
}

.tech-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #27292f;
  border-radius: 10px;
  padding: 10px;
}

.tech-tag i {
  font-size: 2rem;
}

.tech-tag p {
  font-size: 0.9rem;
  font-weight: 600;
}

/*-------------------- contact --------------------*/

footer {
  background-color: #27292f;
  padding: 30px 0;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact h2 {
  color: #feda6a;
}

.contact-icons {
  display: flex;
  margin-top: 20px;
  color: white;
  font-size: 1.5rem;
  gap: 20px;
}

.contact-icons i {
  color: white;
}

.contact-icons i:hover {
  color: #feda6a;
}
