/* Global */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #feda6a;
  font-weight: 300;
}

h2 {
  font-size: 30px;
}

p,
li {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 1px;
}

/* .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
} */

/* Navbar */

.navbar {
  background-color: #8691ba;
  padding: 1.5rem 3rem;

}

/* Menu - Nav List */

.nav-list ul {

  justify-content: center;
  display: flex;
  list-style: none;
  gap: 30px;
}


.nav-link {

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;

}


/* Home */

.home {
  min-height: 100vh;
  background-color: #1d1e22;
  display: flex;
  justify-content: space-around;
  align-items: center
}

.home-text {

}

.home-name h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
  /* word-break: normal; */
}

.home-sub h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.home-image {

}

.home-image img {
  max-width: 450px;
  border-radius: 50%;
  border: 10px solid #feda6a;
}

/* About */

.about {
  display: flex;
  gap:30px;
  align-items: center;
  padding: 0 50px;
}
